# Specifying exceptions. If you want to exclude a specific file from the list of files specified with .dockerignore, use the ! exception character. 
# The following is an example where files with .md extension are not included in the Docker image, but only README.md is included.
# *.md
# !README.md

# Using wildcards, etc.
# By using wildcards in the description, you can specify a target file regardless of which directory it is in. The following is an example of specifying a file named target in any directory one level below the build context root.
*/node_modules
/build


# On the other hand, if you want to specify a specific file name, not just a file hierarchy, use **.
# **/target


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


/data
node_modules
dist
dist-ssr
*.local
.env



# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?